<nav class="nav">
  <div class="logo">
    <img src="assets/logo.png" alt="Németh Zsolt Logo" class="logo-img" />
    <div class="text-container">
      <span class="name">Németh Zsolt</span>
      <span class="profession">tanácsadó</span>
    </div>
  </div>
  <ul class="nav-list">
    <li>
      <a routerLink="/" routerLinkActive="active">KEZDŐLAP</a>
    </li>
    <li><a routerLink="/rolam" routerLinkActive="active">RÓLAM</a></li>
    <li><a routerLink="/csomagok" routerLinkActive="active">CSOMAGOK</a></li>
    <li>
      <a routerLink="/adotanacsadas" routerLinkActive="active">ADÓTANÁCSADÁS</a>
    </li>
    <li><a routerLink="/blog" routerLinkActive="active">BLOG</a></li>
    <li><a routerLink="/kapcsolat" routerLinkActive="active">KAPCSOLAT</a></li>
  </ul>
  <div class="auth-section">
    @if (!isLoggedIn) {
      <button (click)="openModal()" class="login-btn">Bejelentkezés</button>
    } @else {
      <div class="user-info">
        <span>{{ userName }}</span>
        <button (click)="logout()" class="logout-btn">Kilépés</button>
      </div>
    }
  </div>
</nav>
<app-auth-modal [isOpen]="isModalOpen" (close)="closeModal()"></app-auth-modal>
