<nav class="nav">
  <div class="logo">
    <img src="assets/logo.png" alt="Németh Zsolt Logo" class="logo-img" />
    <div class="text-container">
      <span class="name">NÉMETH ZSOLT</span>
      <span class="profession">TANÁCSADÁS</span>
    </div>
  </div>
  <ul class="nav-list">
    <li><a href="#" class="active">KEZDŐLAP</a></li>
    <li><a href="#">RÓLAM</a></li>
    <li class="dropdown">
      <a href="#">CSOMAGOK &#9662;</a>
      <ul class="dropdown-menu">
        <li><a href="#">Option 1</a></li>
        <li><a href="#">Option 2</a></li>
      </ul>
    </li>
    <li><a href="#">TANÁCSADÁS</a></li>
    <li><a href="#">BLOG</a></li>
    <li><a href="#">KAPCSOLAT</a></li>
  </ul>
</nav>
