.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  padding: 15px 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 60px; /* Increased logo size */
  margin-right: 15px;
}

.text-container {
  display: flex;
  flex-direction: column; /* Stack name & profession */
  padding: 15px 20px;
}

.name {
  font-weight: bold;
  font-size: 20px; /* Slightly bigger */
  color: #3A7CA5; /* Dark Blue */
}

.profession {
  font-size: 14px;
  color: #555;
  margin-top: 2px;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0px 20px;;
  margin: 0;
}

.nav-list li {
  position: relative;
}

.nav-list a {
  text-decoration: none;
  font-weight: bold;
  color: #333;
  font-size: 16px;
}

.nav-list a.active {
  color: #3A7CA5; /* Dark Blue */
  font-weight: bold;
  border-bottom: 2px solid darkblue;
}

.nav-list a:hover {
  color: #3A7CA5; /* Dark Blue */
}

/* Dropdown styles */
.dropdown-menu {
  display: none;
  position: absolute;
  background: white;
  list-style: none;
  padding: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown:hover .dropdown-menu {
  display: block;
}
