<div class="about-container">
  <div class="background">
    <img
      src="assets/blue-background.webp"
      alt="Blue Background"
      class="background-image"
    />
    <div class="overlay">
      <div class="content">
        <div class="photo">
          <img
            src="assets/profile.JPG"
            alt="Németh Zsolt"
            class="profile-img"
          />
        </div>
        <div class="text">
          <h1>Rólam</h1>
          <p>
            Üdvözöllek! Én Németh Zsolt vagyok, tapasztalt tanácsadó. Több éves
            szakmai tapasztalattal rendelkezem vállalati és egyéni ügyfelek
            számára nyújtott tanácsadás területén. Célom, hogy segítsek
            ügyfeleimnek a legjobb döntések meghozatalában és üzleti sikereik
            elérésében.
          </p>
          <p>
            Hiszek abban, hogy a sikeres tanácsadás az egyedi igények és célok
            figyelembevételével kezdődik. Ha szeretnél többet megtudni rólam és
            arról, hogyan segíthetek neked, lépj velem kapcsolatba!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
